@charset "utf-8";

/*Header and Footer*/
header    {
	color:red;
	font-style:italic;
	font-size:36px
}
footer {
	font-size:13px	
}

/*All Hyperlinks*/
a {	
	color:red;
}
a:hover{
	background-color:yellow;	
}

/*
a:visited{
	color:green;	
}
*/

/*For text to highlight*/
.highlight{
	font-style:italic;
	color:green;
}

/*The main text*/
#main{
	color:white;
	text-align:left;
}

/*Standards for the body*/		
body {
	color:green;
	background-color:black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
